In [168]:
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
import re

In [170]:
intake = pd.read_csv('intake_data_Executive Presence Studio - Feb25.csv')
post = pd.read_csv('post_data_Executive Presence Studio - Feb25.csv')
takes = pd.read_csv('takes_of_users_in_Executive Presence Studio - Feb25.csv')
users = pd.read_csv('users_in_Executive Presence Studio - Feb25.csv')
watch = pd.read_csv('watch_data_of_users_in_Executive Presence Studio - Feb25.csv')

In [172]:
post.rename(columns={' It’s easy for me to get into the headspace I need to in order to record my message effectively.':'Headspace'}, inplace=True)
post.rename(columns={' Recording video empowers me personally.':'Personal Empowerment'}, inplace=True)
post.rename(columns={' Recording video empowers me professionally.':'Professional Empowerment'}, inplace=True)
post.rename(columns={'I am familiar with the power of my presence.':'Presence Power Familiarity'}, inplace=True)
post.rename(columns={'I can easily shift from my “on camera me” to my “on video me”.':'Video Shift'}, inplace=True)
post.rename(columns={'I feel I can elicit a variety of emotions from my audience.':'Elicit Emotions'}, inplace=True)
post.rename(columns={'I know how to strongly connect to my audience when recording from any location.':'Audience Connection'}, inplace=True)
post.rename(columns={'Warm up exercises help me to feel ready to record.':'Warm-up Effectiveness'}, inplace=True)
post.rename(columns={'I feel confident in the technical aspects of my presence such as eye contact, energy, voice volume, and movement.':'Technical Confidence'}, inplace=True)
post.rename(columns={'What is ONE WORD to describe your camera presence after going through the BetterOn experience?':'One word BetterOn Summary'}, inplace=True)
post.rename(columns={'Would you recommend the BetterOn experience to a peer or colleague?':'Recommendation (Yes/No)'}, inplace=True)
post.rename(columns={'Created By - email':'Email'}, inplace=True)
post.drop(columns=["Anything else you'd like to share?", 'Participant Email', 'unique id', 'Creator', 'Creation Date','Race ethnicity'], inplace=True)

In [174]:
post.dropna()
col = post.pop('Last Name')  # Remove and store the column
post.insert(0, 'Last Name', col)
col = post.pop('First Name')  # Remove and store the column
post.insert(0, 'First Name', col)  # Insert it at the first position

In [176]:
response_mapping = {
    "1 - Not so much.": 1,
    "2- Somewhat.": 2,
    "3 - Pretty familiar": 3,
    "4 - Absolutely!": 4
}

# Apply the mapping to the relevant columns
for column in post.columns:
    post[column] = post[column].map(response_mapping).fillna(post[column])

In [178]:
post.head()

,First Name,Last Name,Headspace,Personal Empowerment,Professional Empowerment,Presence Power Familiarity,Video Shift,Technical Confidence,Elicit Emotions,Audience Connection,Warm-up Effectiveness,One word BetterOn Summary,Recommendation (Yes/No),Email
0,Rebecca,Kanin,3,2,2,4,1,4,2,3,2,confident,Yes,rebeccakanin@ibm.com
1,Robert,Hurdle,4,4,4,4,3,4,3,4,4,Practice!,Yes,robert.hurdle@ibm.com
2,Aman,Bhatia,3,4,3,4,3,4,4,4,4,FRIENDLY,Yes,aman.bhatia@ibm.com
3,Jake,Kaden,3,4,4,4,3,4,3,4,2,Engaging,Yes,jhkaden@us.ibm.com
4,Facundo,Rinaldi,4,4,4,4,4,4,4,4,3,Assured,Yes,frinaldi@cr.ibm.com

In [180]:
response_mapping = {
    "1 - Not so much.": 1,
    "2- Somewhat.": 2,
    "3 - Pretty familiar": 3,
    "4 - Absolutely!": 4
}

# Apply the mapping to the relevant columns
for column in intake.columns:
    intake[column] = intake[column].map(response_mapping).fillna(intake[column])

In [182]:
intake.rename(columns={'Connect to my audience when recording':'Audience Connection'}, inplace=True)
intake.rename(columns={'Elicit a variety of emotions':'Emotional Ability'}, inplace=True)
intake.rename(columns={'Empowers me professionally':'Professional Empowerment'}, inplace=True)
intake.rename(columns={'Empowers me personally':'Personal Empowerment'}, inplace=True)
intake.rename(columns={'Familiar with power of presence':'Presence Familiarity'}, inplace=True)
intake.rename(columns={'One word to describe your camera presence':'Camera Presence Description'}, inplace=True)
intake.rename(columns={'One word to describe your presence after BetterOn':'Camera Presence Description after BetterOn'}, inplace=True)
intake.rename(columns={'Shift to on video me':'Acting Ability'}, inplace=True)
intake.rename(columns={'Technical aspects of my presence':'Technical Presence'}, inplace=True)
intake.rename(columns={'Warm up exercises':'Warm-ups'}, inplace=True)
intake.rename(columns={'Created By - email':'Email'}, inplace=True)
intake.drop(columns=['Headspace to record my message','English native language', 'Gender', "Questions for BetterOn", 'unique id', 'Creator', 'Creation Date','Race ethnicity', 'Participant Email'], inplace=True)

In [184]:
intake.dropna()
col = intake.pop('Preferred Name')  # Remove and store the column
intake.insert(0, 'Preferred Name', col)
col = intake.pop('Last Name')  # Remove and store the column
intake.insert(0, 'Last Name', col)
col = intake.pop('First Name')  # Remove and store the column
intake.insert(0, 'First Name', col)  # Insert it at the first position

In [186]:
intake.head()

,First Name,Last Name,Preferred Name,Audience Connection,Emotional Ability,Personal Empowerment,Professional Empowerment,Presence Familiarity,Camera Presence Description,Camera Presence Description after BetterOn,Acting Ability,Technical Presence,Warm-ups,Email
0,Aman,Bhatia,Aman,2,2,1,1,3,Friendly,Impactful,2,3,2,aman.bhatia@ibm.com
1,Angela,Adamyan,Angela,2,2,2,2,3,week,trustwarthy,3,2,3,angela.adamyan@ibm.com
2,Nitin,Goyal,Nitin,1,2,2,2,2,Average,Awesome,1,2,3,nitin.goyal@in.ibm.com
3,Adnan,Seddighi,Adnan,2,3,2,2,2,Comfortable,impactful,2,3,2,adnan@ibm.com
4,Facundo,Rinaldi,Facu / Facundo,2,2,2,2,3,Ackwardness,Confidence,1,2,2,frinaldi@cr.ibm.com

In [188]:
response_mapping = {
    '6. Test The Recorder': 1.1,
    '2. Prompts': 1.2,
    '3. Your Story': 1.3,
    '4. Wildcard': 1.4,
    '5. Reflection': 1.5,
    '1. The Power of You': 2.1,
    '2. Emotional & Tonal Range':2.2,
    '3. Wildcard': 2.3,
    '4. Reflection': 2.4,
    '1. Giving Through The Camera': 3.1,
    '2. Teamwork!': 3.2,
    '1. Freestyle': 4.1,
    '2. Your 2nd First Impression': 4.2,
    "3. You're The Guide Now": 4.3,
    '5. Final Reflection': 4.5
}

takes["Activity"] = takes["Activity"].map(response_mapping).fillna(takes["Activity"])

In [190]:
takes.dropna()
takes.drop(columns=["Take Label", "Cohort", "Prompt", 'Token', 'Assignment', "unique id"], inplace=True)

In [192]:
takes = takes.dropna(subset=["Video URL"])
takes = takes.dropna(subset=["Take Length"])
takes["Save Take"] = takes["Save Take"].fillna(False)
takes["Submit Video"] = takes["Submit Video"].fillna(False)

/var/folders/1w/hq9s5gxs7gs8czfbrbsb7nqc0000gn/T/ipykernel_91558/3594867657.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  takes["Save Take"] = takes["Save Take"].fillna(False)
/var/folders/1w/hq9s5gxs7gs8czfbrbsb7nqc0000gn/T/ipykernel_91558/3594867657.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  takes["Submit Video"] = takes["Submit Video"].fillna(False)

In [194]:
takes.head()

,Activity,Video URL,Public View,Save Take,Submit Video,Take Length,User,Creation Date
2,1.1,https://betteron-input.s3.amazonaws.com/8386fc...,False,True,True,7.0,aman.bhatia@ibm.com,"Feb 10, 2025 3:15 pm"
9,1.2,https://betteron-input.s3.amazonaws.com/b1416d...,False,True,True,41.0,aman.bhatia@ibm.com,"Feb 11, 2025 9:41 am"
11,1.3,https://betteron-input.s3.amazonaws.com/bc0d86...,False,True,True,115.0,aman.bhatia@ibm.com,"Feb 11, 2025 12:07 pm"
12,1.3,https://betteron-input.s3.amazonaws.com/06dc6f...,False,True,True,108.0,aman.bhatia@ibm.com,"Feb 11, 2025 12:12 pm"
13,1.3,https://betteron-input.s3.amazonaws.com/07e674...,False,True,True,119.0,aman.bhatia@ibm.com,"Feb 11, 2025 12:19 pm"

In [196]:
users.drop(columns=["Company", "Cohort", "Guide", 'Trainer', "unique id"], inplace=True)

In [198]:
col = users.pop('Preferred Name')  # Remove and store the column
users.insert(0, 'Preferred Name', col)
col = users.pop('Last Name')  # Remove and store the column
users.insert(0, 'Last Name', col)
col = users.pop('Name')  # Remove and store the column
users.insert(0, 'Name', col)

In [200]:
users.head()

,Name,Last Name,Preferred Name,Current Assignment,Creation Date,email
0,Marelyne,Tolentino,Marelyne,The Moment Begins,"Feb 10, 2025 2:12 pm",marelyne@us.ibm.com
1,Nitin,Goyal,Nitin,The Moment Begins,"Feb 10, 2025 2:20 pm",nitin.goyal@in.ibm.com
2,Peyush,Wali,Peyush,Audience Connection,"Feb 10, 2025 2:53 pm",peyush.wali@ibm.com
3,Charles,Royal,Chuck,The Moment Begins,"Feb 10, 2025 2:54 pm",chuck.royal@ibm.com
4,Carlos,Aguilera,Carlos,The Moment Begins,"Feb 10, 2025 2:56 pm",ceaguilera@us.ibm.com

In [202]:
watch.drop(columns=["Activity", "Participant", "Take", 'Time Remaining', "unique id"], inplace=True)

In [204]:
watch.head()

,API-Timeout-ID,API-Popup-ID,Popup,Status,Stop Time,Total Reflection,Creation Date
0,13293.0,13292.0,False,Stop,"Feb 10, 2025 3:28 pm",900.0,"Feb 10, 2025 3:13 pm"
1,13295.0,13294.0,False,NaN,"Feb 11, 2025 10:03 am",67661.0,"Feb 10, 2025 3:15 pm"
2,13297.0,13296.0,False,NaN,"Feb 10, 2025 3:18 pm",42.0,"Feb 10, 2025 3:18 pm"
3,13299.0,13298.0,False,NaN,"Feb 10, 2025 3:19 pm",10.0,"Feb 10, 2025 3:19 pm"
4,13301.0,13300.0,False,Stop,"Feb 10, 2025 3:33 pm",816.0,"Feb 10, 2025 3:19 pm"